.btn {
  button {
    background-color: #EB5A0A;
    min-width: 80px;
    height: 40px;
    padding: 0 12px;
    border: none;
    border-radius: 8px;
    color: #FEFEFE;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;

    transition: all 0.3s ease;

    &:hover {
      opacity: 0.75;
    }
  }

  @media all and (max-width: 670px) {
    width: 100%;
    button {
      width: 100%;
    }
  }
}