.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 96px;
  background-color: #EFEFEF;
  overflow: hidden;

  @media all and (max-width: 1024px) {
    justify-content: flex-start;
    overflow-x: scroll;
  }
}